# Default ignored files
/shelf/
/workspace.xml

# Exclude environment files
.env

# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Ignore system files
.DS_Store
Thumbs.db
